@charset "UTF-8";
body {
  width: 100vw;
  height: 100vh;
  font-family: "Mulish";
  background-color: #F7F8FC;
}

.divider {
  stroke-width: 5px;
  stroke: var(--grayscale-gray, #9FA2B4);
  z-index: 999;
}

.sidebar {
  background-color: #363740;
  height: auto;
  overflow: hidden;
}
.sidebar .DashboardKit {
  left: 72px;
  top: 80px;
  position: absolute;
  opacity: 0.7;
  color: #A4A6B3;
  font-size: 16px;
  font-family: "Mulish";
  font-weight: 700;
  letter-spacing: 0.4px;
  word-wrap: break-word;
  overflow: hidden;
}
.sidebar .logo {
  left: 32px;
  top: 50px;
  position: absolute;
}
.sidebar .logo .Ellipse {
  width: 30px;
  height: 30px;
  left: 0;
  top: 25px;
  position: absolute;
  background: #3751FF;
  border-radius: 1000px;
}
.sidebar .logo .D {
  width: 13px;
  height: 12px;
  left: 10px;
  top: 33px;
  position: absolute;
  border-radius: 0px 7px 7px 0px;
  background: linear-gradient(144deg, rgba(255, 255, 255, 0.7) 0%, white 100%);
}
.sidebar .SidebarListInactive .SideTitle {
  color: #DDE2FF;
  margin-left: 52px;
  padding: 18px;
  opacity: 0.5;
  position: relative;
  top: 150px;
  text-decoration: none;
}
.sidebar .SidebarListInactive .LastTwo {
  margin-top: 30px;
}
.sidebar .SidebarListInactive .nav-icon {
  left: -32px;
  top: 20px;
  position: absolute;
}
.sidebar .SidebarListInactive .overview-icon {
  opacity: 0.2;
}
.sidebar .Divider {
  width: 320px;
  height: 0;
  left: 0px;
  top: 160px;
  opacity: 0.1;
  position: relative;
  border: 0.5px #DFE0EB solid;
}

.offcanvas-body {
  padding: 20px;
  background-color: #363740;
  color: #A4A6B3;
}
.offcanvas-body .SidebarListInactive .SideTitle {
  color: #DDE2FF;
  margin-left: 52px;
  padding: 18px;
  opacity: 0.5;
  position: relative;
  top: 150px;
  text-decoration: none;
}
.offcanvas-body .SidebarListInactive .LastTwo {
  margin-top: 30px;
}
.offcanvas-body .SidebarListInactive .nav-icon {
  left: -32px;
  top: 20px;
  position: absolute;
}
.offcanvas-body .SidebarListInactive .overview-icon {
  opacity: 0.2;
}
.offcanvas-body .Divider {
  width: 320px;
  height: 0;
  left: 0px;
  top: 160px;
  opacity: 0.1;
  position: relative;
  border: 0.5px #DFE0EB solid;
}

.offcanvas-header {
  background-color: #363740;
  color: #A4A6B3;
}
.offcanvas-header .DashboardKit {
  margin-left: 30px;
}

.overview {
  margin-top: 60px;
}
.overview header {
  justify-content: center;
  align-items: center;
}
.overview h1 {
  color: #252733;
  font-family: "Mulish";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

#profile {
  margin-top: 60px;
}
#profile p {
  color: #252733;
  text-align: right;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#profilepic {
  width: 50px;
}

svg {
  margin: 0px 5px 0px 5px;
}

.firstRow {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 30px 0;
  padding: 0;
}
.firstRow #firstRowBox {
  justify-content: center;
}
.firstRow .firstRowArticle {
  flex-direction: column;
  justify-content: center;
  color: var(--grayscale-gray, #9FA2B4);
  height: auto;
  margin-bottom: 20px;
}

#secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#secondRow .light-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-top: 8px;
  color: var(--grayscale-gray, #9FA2B4);
}

#secondRowBox {
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #DFE0EB);
  background-color: var(--grayscale-white, #FFF);
}

#todaysTrends .todays-text {
  margin-top: 30px;
}
#todaysTrends h2 {
  color: #252733;
  font-family: "Mulish";
  font-size: 19px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 30px;
  margin-bottom: 32px;
}
#todaysTrends #graphImg {
  display: flex;
  justify-content: center;
}
#todaysTrends #graphImg img {
  max-width: 686px;
  height: auto;
  margin: 30px 0 30px 0;
  overflow: hidden;
}

#additionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  stroke-width: 1px;
  stroke: var(--grayscale-divider, #DFE0EB);
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
}

.secondRowArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.secondRowArticle h2 {
  color: var(--grayscale-gray, #9FA2B4);
  text-align: center;
  font-family: "Mulish";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.3px;
}
.secondRowArticle p {
  color: #252733;
  text-align: center;
  font-family: "Mulish";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
}

#thirdRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#thirdRowBox {
  display: flex;
  justify-content: center;
}

#unresolvedTicket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 50vh;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #DFE0EB);
  background-color: var(--grayscale-white, #FFF);
}

.unresolvedTicketContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 30vh;
}
.unresolvedTicketContents h2 {
  color: #252733;
  font-family: "Mulish";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 20px;
}
.unresolvedTicketContents h4 {
  color: var(--grayscale-gray, #9FA2B4);
  font-family: "Mulish";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding-top: 0;
}
.unresolvedTicketContents h4 span {
  color: var(--grayscale-gray-dark, #4B506D);
  font-family: "Mulish";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}
.unresolvedTicketContents h3 {
  color: #252733;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.number {
  margin-top: 10px;
  color: var(--grayscale-gray, #9FA2B4);
  text-align: right;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.highlight {
  color: var(--accent-default, #3751FF);
  text-align: right;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#task {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: auto;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  border: 1px solid var(--grayscale-divider, #DFE0EB);
  background-color: var(--grayscale-white, #FFF);
}
#task li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#task li h2 {
  color: #252733;
  font-family: "Mulish";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-top: 20px;
}
#task li h3 {
  color: var(--grayscale-gray-light, #C5C7CD);
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#task li h4 {
  color: var(--grayscale-gray, #9FA2B4);
  font-family: "Mulish";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  margin-top: 20px;
}
#task li form {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: 5px;
}
#task li form label {
  color: #252733;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #C5C7CD;
}

input[type=checkbox]:checked {
  background-color: #3751FF;
  border: 1px solid #3751FF;
  color: #DFE0EB;
}

input[type=checkbox]::before {
  content: "✓";
  display: block;
  text-align: center;
  line-height: 17px;
  color: #fff;
  font-size: 12px;
}

#urgent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--yellow-default, #FEC400);
  width: 74px;
  height: 24px;
}
#urgent span {
  color: var(--grayscale-white, #FFF);
  text-align: center;
  font-family: "Mulish";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#new {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--green-default, #29CC97);
  width: 74px;
  height: 24px;
}
#new span {
  color: var(--grayscale-white, #FFF);
  text-align: center;
  font-family: "Mulish";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#default {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F0F1F7;
  width: 74px;
  height: 24px;
}
#default span {
  color: #9FA2B4;
  text-align: center;
  font-family: "Mulish";
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* To hide our top bar on desktop screens */
@media only screen and (min-width: 800px) {
  .navbar {
    display: none;
  }
  #thirdRowBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69vw;
    margin: 0;
  }
  #unresolvedTicket, #task {
    width: 33vw;
    height: 336px;
  }
  .unresolvedTicketContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32vw;
    padding-left: 32px;
    padding-right: 32px;
  }
  #task {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #task li {
    width: 33vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 32px;
    padding-right: 32px;
  }
  #task li h2 {
    color: #252733;
    font-family: "Mulish";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 20px;
  }
  #task li h3 {
    color: var(--grayscale-gray-light, #C5C7CD);
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 20px;
  }
  #task li h4 {
    color: var(--grayscale-gray, #9FA2B4);
    font-family: "Mulish";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
    margin-top: 0px;
  }
  #task li form {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
  #task li form label {
    color: #252733;
    font-family: "Mulish";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
/* To show our top bar on mobile screens */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
